/*********** General ***********/
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --border-color: #d9d9d9;
}

* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  padding: 0;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.section-subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  width: 100%;
  height: 125px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.logo {
  height: 19px;
  width: 61px;
}

/*********** Header ***********/
.navigation-bar {
  display: flex;
  justify-content: space-between;

  height: 79px;
}

.navigation-bar h1 {
  display: flex;
  align-items: center;
}

.navigation-bar span {
  visibility: hidden;
  width: 0;
}

.menu-navigation {
  display: flex;
  width: 294px;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 0;
}

.menu-navigation li {
  padding: 0.9rem;
  border: 2px solid transparent;
}

.menu-navigation li:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/*********** Information ***********/
.info-text {
  margin-bottom: 2rem;
}

.info-group input {
  border: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  column-gap: 11px;
  margin-top: 20px;
}

.info-bar .fa-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-color);
  border-radius: 100%;
}

/*********** Search bar ***********/
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  height: 49px;
  width: 100%;
  max-width: 380px;
  margin-bottom: 35px;
}
.search-bar .city {
  border-style: solid;
  border-width: 1px;
  border-color: var(--main-bg-color);
  border-right: none;
}

.search-bar .fa-location-dot {
  color: black;
  height: 100%;
  width: 50px;
  border-radius: 20px 0px 0px 20px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.search span {
  font-size: 18px;
}
.search {
  width: 100%;
  background-color: var(--main-color);
  border: transparent;
  border-radius: 0px 20px 20px 0px;
  color: white;
  font-weight: bold;
}

.fa-magnifying-glass {
  display: none;
  font-size: 18px;
}
.search-bar input {
  text-align: left;
  padding-left: 1rem;
}
/*********** Filter bar ***********/

.filter-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}

.filter-group .filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 15px;
}

.filter-bar :hover {
  background-color: var(--filter-bg-color);
  border: 2px solid var(--border-color);
  transition: 0.3s;
}

.filter-selection {
  background-color: inherit;
  height: 50px;
  padding: 0 17px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 11px;
  font-size: 17px;
  font-weight: bold;
  border: 2px solid var(--border-color);
}

.filter-bar .fa-solid {
  border: 2px solid transparent;
}

/****** Hebergements And Populaires ***********/
.hosting-and-popular {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.hosting-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.hosting-card-content {
  padding-left: 10px;
}

.hosting-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

.hosting-cards .card-title {
  margin: 10px 0 5px 0;
}

.hosting-cards .card-subtitle {
  margin: 0 0 5px 0;
}

.hosting-cards .card-rating {
  margin-bottom: 5px;
}

.card-h {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-h img {
  width: 100%;
  height: 125px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.hosting-cards a {
  width: 32%;
  margin-bottom: 20px;
}

/****** Hebergements ***********/
.section-hosting {
  width: 65%;
}

/****** Populaires ***********/
.popular {
  width: 32%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards .card {
  display: flex;
  margin-top: 33px;
}

.popular-cards img {
  width: 33%;
  height: 136px;
  border-radius: 20px 0px 0px 20px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: 5px;
}

/*********** Activités **********/
.activity {
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.activity-title {
  padding-bottom: 35px;
}

.activity-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activity-card a {
  width: 24%;
}

.activity-content {
  background-color: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  height: 439px;
}

.activity-content img {
  object-fit: cover;
  height: 380px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card-activity-txt {
  margin-left: 15px;
}

/*********** Bas de page **********/
.class-footer {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.class-footer ul {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.class-footer li {
  margin: 0.5rem;
}

.footer-title {
  font-weight: bold;
  font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hosting-and-popular {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .section-hosting,
  .popular {
    width: 100%;
  }

  .popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popular-cards .section-subtitle {
    display: none;
  }

  .popular-cards a {
    width: 32%;
  }

  .popular-cards .card-title {
    font-size: 16px;
  }

  .popular-cards .card-subtitle {
    font-size: 14px;
  }

  .hosting-cards .card-title {
    font-size: 16px;
  }

  .hosting-cards .card-subtitle {
    font-size: 14px;
  }

  .activity-content {
    height: 270px;
  }
  .activity-content img {
    height: 200px;
  }

  .filter-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    margin: 0px;
  }

  .main-container {
    padding: 0px;
    background-color: var(--main-bg-color);
  }

  .navigation-bar h1 {
    justify-content: center;
  }
  .logo {
    height: 19px;
    width: 61px;
    margin: 29px;
  }

  .navigation-bar {
    flex-direction: column;
    align-items: unset;
    height: auto;
    width: 100%;
    background-color: white;
  }

  .menu-navigation {
    justify-content: space-around;
    width: 100%;
    margin: 0;
  }

  .menu-navigation li {
    display: flex;
    align-items: start;
    width: 100%;
    text-align: center;
    padding-bottom: 0.2rem;
  }

  .menu-navigation a {
    background-color: transparent;
    border-color: transparent;
    height: 35px;
    width: 100%;
  }

  .menu-navigation li:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-top-color: transparent;
  }

  .info-group {
    margin: 0 auto;
    width: 90%;
  }

  .search-bar {
    max-width: 335px;
  }

  .search {
    width: 52px;
  }

  .search span {
    display: none;
  }

  .city {
    width: 100%;
  }

  .search-bar .city {
    border: none;
  }

  .fa-magnifying-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
  }

  .filter-selection {
    width: 35%;
    font-size: 14px;
    justify-content: start;
  }

  .filter-group .filter-bar {
    justify-content: space-evenly;
    row-gap: 1rem;
    flex-wrap: wrap;
  }

  .hosting-and-popular {
    flex-direction: column-reverse;
    row-gap: 0;
  }

  .hosting-and-popular section {
    padding: 20px;
    margin-bottom: 15px;
  }
  .popular {
    margin-top: auto;
    width: 100%;
  }

  .popular-cards {
    flex-direction: column;
  }

  .popular-cards a,
  .section-hosting,
  .hosting-cards a {
    width: 100%;
  }

  .activity-card {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .activity-card img {
    height: 141px;
    width: 100%;
  }

  .activity-card a {
    height: auto;
    width: 100%;
  }

  .activity-content {
    height: 200px;
    width: 100%;
  }

  .class-footer {
    flex-direction: column;
    height: auto;
    margin-left: 10px;
    width: 90%;
  }

  .class-footer ul {
    width: auto;
    margin-bottom: 15px;
  }
}
